{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "airbnb-typescript", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/semi": "off",
    "react/function-component-definition": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "import/prefer-default-export": "off",
    "prettier/prettier": "error"
  },
  "ignorePatterns": ["vite.config.ts"]
}
